.itinerary__destination{
   background-size:cover;
   background-position: center;
   height: 43rem;
}

.itinerary__destination--hawaii{
    background-image: url("../assests/Images/hawaii.jpg");
}

.itinerary__destination--iceland{
    background-image: url("../assests/Images/iceland.jpg");
}

.itinerary__destination--greece{
    background-image: url("../assests/Images/greece.jpg");
}

.itinerary-title{
    display: inline-block;
    margin: 6.5rem 0 0.5rem 6rem;
    font-weight: 900;
    font-size: 4rem;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto 7.125rem;
    
}

.container_card{
    list-style: none;
    line-height: 2.3rem;
    width: 15.9rem;
    height: 24.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline-start: 0;
    padding: 0 1rem 0rem 1rem;
    background-color: #fff;
    margin: 1.5rem;
    border-radius: 0.313rem;
    background-position: center;
}

.card-title{

    font-size: 1.125rem;
    font-weight: 700;
    margin: 1rem 0.5rem ;
    border-bottom: 2px solid black; 
}

.card-item{
    background-color: #fefaf5;
    margin: 0 0.5rem 1rem 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 0;
}
