body{
  box-sizing: border-box;
  font-family: Verdana;
}

.contact-form{
  width:26.25rem; 
  margin:3.125rem auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.title{
  display:inline-block;
  text-align: center;
  margin: 0 0 1.875rem 0;
  color: #335576;
  font-size: 2rem;
}

.textbox {
  color:gray;
  font-weight:500;
  font-size: 1.125rem;
  border-radius: 0.313rem;
  line-height: 1.375rem;
  background-color: #FEFAF5;
  border:1px solid #CC6666;
  padding: 0.813rem;
  margin-bottom: 0.938rem;
  
  
}

textarea {
  height: 9.375rem;
  line-height: 150%;
  resize:vertical;
  font-family: Verdana;
} 

.btn-submt{
  width: 100%;
  background:#CC6666;
  border-radius:0.313rem;
  padding: 1.25rem;
  margin-bottom: 0.938;
  width:100%;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;

}