body{
  font-family: verdana;
  margin: 0 auto;
  box-sizing: border-box;
}

.header{
  background-color: #FFFFFF;
	position: sticky;
	top: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;   
}
.nav__logo-text{
  text-decoration: none;
  display: inline-block;
  color: #335576;
  font-weight: 600;
  font-size: 1rem;
}
.nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  margin: 0;
}

.nav__link {
  color: black;
  padding: 0.625rem;
  text-decoration: none;
}

.nav__link--active{
  text-decoration: underline solid #DB7A4E;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.313rem;
}

.nav__link:hover{
  text-decoration: underline solid #DB7A4E;
  text-decoration-thickness: 0.313rem;
  text-underline-offset: 1em;
}

/* footer */

.footer{
  background-color: #FEFAF5;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  margin: auto 10.125rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-container__section{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer-subsection{
  display: flex;
  flex-direction: row;
}

.footer-subsection__item{
  padding-right: 1rem;
  flex-grow: 2;
}

.footer-title{
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  color: #335576;
}

.footer-subtitle{
  color: #DB7A4E;
  font-size: 0.625rem;
  font-weight: 700;
  margin-bottom: 0;
}

.footer-text{
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #335576;
}

.social__icon{
  margin-top: 1.5rem;
  height: 1.5rem;
  object-fit:fill;
  object-position: center;
}

.social-link{
  padding-right: 1.25rem;
  text-decoration: none;
}

.social-sec{
  margin-top: 0.438rem;
}







