*{
  box-sizing: border-box;
}

body{
  font-family: verdana;
  margin: 0 auto;
}


.header{
  background-color: #FFFFFF;
	position: sticky;
	top: 0;
}

.header-wrapper{
 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1284px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header__logo-text{
  text-decoration: none;
}

.header-text{
  color: #335576;
  font-size: 18px;
}

.nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 20px;
  text-decoration: none;
}

.nav__link {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.nav__link:hover{
  text-decoration: underline solid #DB7A4E;
  text-decoration-thickness: 5px;
  text-underline-offset: 1em; 
}

.nav__link--active{
  text-decoration: underline solid #DB7A4E;
  text-underline-offset: 1em;
  text-decoration-thickness: 5px;
}

/* footer */

.footer{
  background-color: #FEFAF5;
}

.container-footer {
  background-color: #FEFAF5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  max-width: 1100px;
  margin: 0 auto;
}

.container-footer__item {
  padding: 2rem 1rem;
  font-size: 18px;
  line-height: 1;
  text-align: left;  
  background-color: #FEFAF5;
  /* border: 3px solid #51aaa3; */
  color: #335576;
  margin: 0.375rem;
}



.item__bla{
  display: flex;
  flex-direction: row; 
}

.item__bla-bla{
  padding-right: 30px;
}

.container-footer__item--item-1 {
  flex-basis: 5rem;
}
.container-footer__item--item-2 {
  flex-basis: 20rem;
  padding-left: 50px;
}
.container-footer__item--item-3 {
  flex-basis: 50rem;
  justify-content: space-around;
}

.item-text-1{
  color: #335576;
  font-weight: 700;
  font-size: 32px;
}

.item-text-2{
 color: #DB7A4E;
 font-size: 12px;
}

.item-text-3{
  color: #335576;
  font-size: 18px;
  font-weight: 400;
}

/* footer */


.bla{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}




.social__icon{
  margin-top: 30px;
  height: 30px;
  
  object-fit:fill;
  object-position: center;
}

.social-link{
  padding-right: 20px;
}


