body{
    font-family: verdana;
    margin: 0 auto;
    box-sizing: border-box;
  }

  /* hero section */
.hero-banner{
    background-image: url(../assests/Images/hero.png);
    height: 28rem;
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: 90%;
    background-color: #FEFAF5;
    padding-right: 2rem;
}

.hero-text{
    display: inline-block;
    margin: 5.5rem 0 0.5rem 6rem;
}

.hero-text__title{
    width: 70%;
    font-weight: 900;
    font-size: 2.5rem;
    color: #335576;
}

.hero-text__text{
    margin-top: 1.563rem;
    width: 62%;
    color: #335576;
}

.hero-banner__btn{
    background-color: #DB7A4E;
    border-style: none;
    padding: 0.4rem;
    width: 10rem;
    font-size: 1rem;
    color: white;
    border-radius: 1.563rem;
    margin-top: 0.625rem;
    font-weight: 300;
}

.form-btn:hover{
    opacity: 0.5;
}

/* recommendation section */

.recommendations{
    background-color: #FFFFFF;
}

.cont-title{
    color: #335576;
    font-weight: 700;
    font-size: 1.3rem;
    display: inline-block;
    margin: 3rem 0 0.5rem 6rem;
  }

.container{
    display: flex;
    justify-content: center;
    margin: 0 10.125rem 2rem 10.125rem;
}

.container__card{
    position: relative;
    width: 15.9rem;
    height: 24.5rem;
    margin: 1.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.container__card:hover{
    opacity: 0.5
}

.container__card--hawaii{
    background-image: url("../assests/Images/hawaii.jpg");
}

.container__card--iceland{
    background-image: url("../assests/Images/iceland.jpg");
}

.container__card--greece{
    background-image: url("../assests/Images/greece.jpg");
}

.card-title{
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  margin-right: 1.125;
}




